.album {
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__photos {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
    }
}