.album {
    margin: 0 5px; 
    
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}